
  *{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
html,body{
	height:100%;
}
main{
	padding:20px;
}

header,footer{
	align-items:center;
	display:flex;
	justify-content:center;
	background:	#83A8A0;
	height:70px;
}

.logo img{
	max-width:2rem;
	padding:20px 20px;
}
.cr{
	flex:1;
	display:flex;
	justify-content:flex-end;
	margin:0 2rem;
}
button{
	border:none;
	padding:0.6rem ;
	width:100%;
	color:#fff;
	background:#000;
	font-size:0.5rem;
}

.banner img{
	width:100%;
}
.infos-caixa{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.itens{
	display:flex;
	flex-wrap:wrap-reverse;
}
.coluna{
	align-items:center;
	display:flex;
	flex-wrap:wrap-reverse;
	justify-content:center;
}
.coluna img{
	max-width:8rem;
}
.coluna div{
	margin-right:20px;
	margin-bottom:20px;
}
p{
	text-align:justify;
	font-weight:inherit;
}
.itens img{
	max-width:90vw;
}
footer{
	padding:1.2rem;
	color:#fff;
}
.caixa-input{
	display:flex;
	flex-direction:column;
}

input[type='text'],select{
	padding:0.3rem;
}
label{
	line-height:2rem;
}
input[type='button']{
	border:none;
	padding:0.4rem;
	background:#83A8A0;
	color:#fff;
	position:relative;
	top:1rem;
}
form{
	width:80vw;
	padding:0px 40px;
}
.infos-caixa{
	padding:0.5rem;
}
.infos-caixa div{
	flex:1;
	margin-right:0px;
}
.infos-caixa img{
	max-width:15rem;
}
.select_caixa{
	padding:20px 20px;
}
.main_2{
	width:100%;
	margin:auto;
	height:800px;
	padding:0px 0px;
}
.adm{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	height:70vh;
}
select{
	background:#83A8A0;
	color:#fff;
}
select,input,button{
	outline:none;
}
table {
    border-collapse: collapse;
    width:95vw;
}

th, td {
    text-align: left;
    padding: 8px;
    text-align:center;
    border-bottom:1px solid #ddd;
    font-size:0.3rem;
}
th {
    background-color: #83A8A0;
    color: white;
}
tr:hover{
	background:#ededed;
}
.estatistica{
	display:flex;
	padding:20px 0px;
}
.estatistica form{
	display:flex;
	flex-direction:column;
}
.input-esta{
	display:flex;
	flex-direction: column;
	margin-right:20px;
}
.estatistica input[type='text']{
	padding:0.04rem;
	width:100%;
}
input[type="submit"]{
	border:none;
	padding:0.48rem 1.5rem;
	background:#000;
	color:#fff;

}
@media screen and (min-width:720px){
header{
	padding:0.7rem;
}
.logo img{
	max-width:4rem;
}
.infos-caixa{
	align-items:center;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.coluna img{
	max-width:10rem;
}
.main_2{
	width:900px;
	margin:auto;
	height:500px;
}
main{
	padding:20px 20px;
}
form{
	width:100%;
}
.itens div{
	padding:20px 20px;
}
.itens img{
	max-width:30rem;
}
.infos-caixa div{
	flex:1;
	margin-right:20px;
}
th, td {
    text-align: left;
    padding: 8px;
    text-align:center;
    border-bottom:1px solid #ddd;
    font-size:1rem;
}
table {
    border-collapse: collapse;
    width: 90vw;
}
.estatistica form{
	display:flex;
	flex-direction:row;

}
.estatistica{
	display:flex;
	padding:40px 0px;
}
.estatistica input[type='text']{
	padding:0.2rem;
	width:250px;
}
button{
	border:none;
	padding:0.8rem ;
	width:100%;
	color:#fff;
	background:#000;
	font-size:0.7rem;
}
.itens{
	display:flex;
	flex-wrap:unset;
}
}